body{
    overflow-x: none;
}
.root{
    width: calc(100%);
    display: grid;
    place-items: center;
    background-color: var(--color2);
}
.holder{
    width: max(70vw, 375px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}
.img{
    width: 40%;
    min-width: 300px;
    display: grid;
    place-items: center;
    margin-block: 10px 20px;
}
img{
    width: 100%;
}
.des{
    width: max(60%,350px);
    display: flex;
    flex-direction: column;
}
.name{
    margin: 0;
    vertical-align: top;
    font-size: 2.8em;
    font-weight: bold;
    color: var(--color1);
}
.price > *{
    color: var(--color3);
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}
.detail > *{
    margin-block: 0;
}
.detail{
    margin-block: 10px 20px;
}