@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&family=Sintony:wght@400;700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
   
  color-scheme: light dark;
  color: var(--color1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 
  color
  */
  --color1: #264653;
  --color2: #2A9D8F;
  --color3: #E9C46A;
  --color4: #F4A261;
  --color5: #E76F51;
}

body {
  background-color: #3A3A3A;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  font-style: normal
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #156082;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border-color: var(--color5);
  background-color: var(--color5);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.root{
  width: calc(100%);
  display: grid;
  place-items: center;
  background-color: var(--color4);
}
.holder{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.img{
  width: max(39%,350px);
  height: 100%;
  min-width: 300px;
  display: grid;
  place-items: center;
  background-image: url("./assets/product-images/istockphoto-520619396-612x612.jpg") ;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
}
.des{
  width: max(55%,350px);
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  margin-left: 30px;
}
.des > *{
  width: 70%;
}
.name{
  margin: 0;
  vertical-align: top;
  font-size: 3em;
  font-weight: bold;
  color: var(--color1);
}
.price > *{
  color: var(--color1);
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
.detail > *{
  margin-block: 0;
  color: var(--color1);
  font-weight: 500;
}
.detail{
  margin-block: 10px 20px;
}
.land-img{
  width: 100%;
  height: 500px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./assets/product-images/istockphoto-520619396-612x612.jpg") ;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.land-text{
  border-left: 3px white solid;
  padding-left: 20px;
}
.left-landing{
  width: 30%;
  height: 30%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 40px;
}
.left-landing > a{
  width: fit-content;
}
.about-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 40px 10%;
  background-color: var(--color4);
}
.about-p{
  color: var(--color1);
  font-weight: 500;
  white-space: pre-line !important;
}
/* Offer */
.offer-container{
  height: 80vh;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer{
  color: white;
  padding-block: 30px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  width: 70%;
}

/* Footer */
footer{
  background-color: var(--color1);
  height: 30vh;
}

/* Nav */
.nav-bar{
  background-color: var(--color1);
  /* padding: 15px 15px 0px 15px; */
  padding-left: 15px;
  width: calc(100%);
  position: sticky;
  top: 0;
  z-index: 999;
}
.center-horizontal{
  display: flex;
  justify-content: center;
}
.nav-head-container{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.75cap;
  column-gap: 20px;
}
.logo{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: aliceblue;
  display: inline-block;
}

.nav{
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  height: 50px;
  transition: 0.25s ease;
  padding-top: 10px;
  padding-inline: 5px;
}
.nav:hover{
  color: #494eb5;
}
.active{
  color: rgb(255, 193, 37);
  font-weight: bold;
  position: relative;
}
.active:hover{
  color: rgb(255, 193, 37);
}
.active::after{
  content: "";
  width: 100%;
  height: 0.25rem;
  background-color: rgb(255, 193, 37);
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 1cap;
}
.back-to-top{
  padding: 0;
}
.back-to-top > svg{
  width: 20px;
  height: 20px;
}

.chat{
  bottom: 20px;
}
.card{
  width: 18rem;
  min-height: 80%;
  max-height: 90%;
  border-radius: 2rem;
  z-index: 0;
  padding: 20px 30px;
  background-color: var(--color2);
  color: white;
}
.card-title{
  font-size: 25pt;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.list-container{
  padding: 0 20%;
}
.list-container > *{
  border-radius: 20px;
}

.widget-container{
  background-color: var(--color5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 35px;
  padding: 5px;
}
.msg-box{
  height: 450px;
  width: 500px;
  background-color: #213547;
  position: fixed;
  bottom: 170px;
  right: 35px;
  display: none;
  transition: all  0.5s ease-in-out;
  padding: 20px;
  border-radius: 20px;
}
.show{
  display: flex !important;
  flex-direction: column;
}
.input-chat{
  background-color: var(--color1) !important;
  border-radius: 10px;
  padding-inline: 10px;
}
.input-chat > *{
  color: white !important;
  background-color: var(--color1);
}
.input-container{
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 5s ease;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
}

